body {
    background-color: white;
    background-image: url("../images/background.jfif");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid black;
    border-radius: 10px;
    margin: 30px 70px 30px 70px;
    padding: 10px;
    height: 40px;
    background-color: white;
}

#main a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.75s;
}

#main a:hover {
    text-decoration: underline;
    color: brown;
    font-size: 24px;
    letter-spacing: 3px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main img {
    margin: 20px;
    border: 5px solid black;
    border-radius: 20px;
    width: 15%;
    height: 15%;
}

main p {
    border: 5px solid black;
    border-radius: 10px;
    width: 30%;
    height: auto;
    background-color: white;
    text-align: center;
    padding: 20px 0;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    margin: 0;
    padding: 10px;
}

footer p {
    text-align: center;
    font-style: italic;
}

#socials {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 500px;
}